/* Reset CSS */
html, body, header, nav, footer, div, p, img, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f3e5e1;
	overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#container {
    width: 80%; 
    margin: 0 auto; 
    padding: 0; 
    background-color: #fff; 
}


/* Header Styles */
header {
    background-color:#060709;
    color: #fff;
    padding: 0;
    text-align: center;
	display: flex;
    align-items: center;
}
header img {
    width: 50px; 
	margin-left:20px;
}
header h1 {
    font-size: 2.5rem;
	margin:20px;
	padding: 10px;
	font-size: 2em;
	line-height: 1.2;
}



/* Hero Section Styles */
#hero {
    text-align: left;
    margin-top: 20px;
    position: relative;
}

#hero img {
    width: 30%;
    margin-left: 40px; 
    display: block; 
    vertical-align: top; 
	
}

#hero p {
    font-size: 1.1rem;
    width: 65%; 
    display: inline-block; 
    vertical-align: top; 
	margin-left: 40px;
	
}

#hero button {
    background-color: #060709;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 0; 
    width: 32.5%; 
    text-align: center;
    text-decoration: none;
    display: block;
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	font-weight:bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	letter-spacing: 1px;
    margin: 40px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#hero button:hover {
    background-color: #ec8282;
}
/*Hero img animation Rules*/
.falling {
   
    animation: fallAnimation 5s linear infinite;
	 
     position: absolute; 
    left: 40%; 
    top:0;
	animation-delay: 0s;
}
.falling2 {
    animation: fallAnimation2 5s linear infinite;
	position: absolute; 
	left: 50%; 
    top: 0; 
	animation-delay: 0s;
}

.falling3 {
    animation: fallAnimation3 5s linear infinite;
	 position: absolute; 
    left: 65%;
    top: 0; 
	animation-delay: 0s;
}

@keyframes fallAnimation {
    0% {
        transform: translateY(50px) rotate(0deg) scale(0.5);
    }
    100% {
        transform: translateY(-20vh) rotate(360deg) scale(0);
    }
}

@keyframes fallAnimation2 {
    0% {
        transform: translateY(-70px) rotate(0deg) scale(0.5); 
    }
    100% {
        transform: translateY(-10vh) rotate(360deg) scale(0);
    }
}

@keyframes fallAnimation3 {
    0% {
        transform: translateY(50px) rotate(0deg) scale(-0.5); 
    }
    100% {
        transform: translateY(-10vh) rotate(300deg) scale(-0.5);
    }
}



/* About, Contact, Reviews Class Styles */
section {
	background-color:#060709;
}
.about,.contact, .reviews {
	background-color:#060709;
	color:#ec8282;
	margin: auto;
	width: 100%;
	height:100%;
	
	
}
.about h1,.contact h1, .reviews h1 {
	margin:20px;
	padding: 10px;
	font-size: 2em;
	line-height: 1.2;
}
.about img{
	width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}
.contact img {
	width: auto;
    height: auto;
    max-width: 25%;
    max-height: 25%;
}

.reviews h1 img {
	display:inline-block;
	width: 10%;
	height:auto;
	
}
.about button,.contact button, .reviews button{
	border:none;
	background-color:transparent;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color:#ec8282;
	transition: all 0.3s ease;
	margin:20px;
}
.about button:hover,.contact button:hover, .reviews button:hover {
    color: #fff;
	background-color:#ec8282;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	 font-size: 24px;
	  transform: scale(1.1);
}
.about img,.contact img {
    width: 100%; 
    display: block; 
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
/* Styles for the About Page */

#about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

#about h1 {
    color: #ec8282;
    font-size: 2.5em;
    margin-bottom: 20px;
}




#about p {
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}
#about img {
	display: block;
	width: 40%;
	height:auto;
	margin:0 auto;
	
}
/* Contact & Events Styles */
#events h1 {
    margin:20px;
	padding: 10px;
	font-size: 2em;
	line-height: 1.2;
    color: #060709; 
    background-color: #ec8282; 
}

#events h3 {
	margin:20px;
	padding: 10px;
	font-size: 20px;
    color: #060709; 
	font-family: Arial, sans-serif;
    line-height: 1.6;
	background-color: #f3e5e1; 
    border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#events button {
    border: none;
    background-color: #060709;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    margin: 20px;
    border-radius: 5px;
    padding: 10px 20px; 
}

#events button:hover {
    color: #ec8282;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    transform: scale(1.1);
    background-color: transparent;
}
#events p {
	padding:10px;
}
.events {
	background-color:#fff;
	color:#060709;
	margin: auto;
	width:100%;
	height: 100%;
}
.events h1 {
	margin:20px;
	padding: 10px;
	font-size: 2em;
	line-height: 1.2;
}
.events img {
	width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
	display: block;
	margin: 0 auto;
}

.events button {
	border:none;
	background-color:#060709;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	transition: all 0.3s ease;
	margin:20px;
	border-radius: 5px;

} 
.events button:hover{
    color: #ec8282;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	 font-size: 24px;
	  transform: scale(1.1);
	  background-color: transparent;
}



/*Inquiry Form Styles */
#contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
#inquiryForm {
    max-width: 600px;
    margin: 0 auto;
}

#inquiryForm h1 {
    text-align: center;
}

#inquiryForm .form-group {
    margin-bottom: 10px;

}

#inquiryForm label {
    display: block;
    margin-bottom: 5px;
}

#inquiryForm input[type="text"],
#inquiryForm input[type="email"],
#inquiryForm input[type="tel"],
#inquiryForm textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#inquiryForm button {
   background-color: #060709;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 0; 
    width: 32.5%; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
	font-weight:bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	letter-spacing: 1px;
    margin: 40px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#inquiryForm button:hover {
    background-color: #ec8282;
}
.hidden {
    display: none;
}

#messageDisplay {
    position: fixed;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fa; 
    color: #333; 
    padding: 60px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    font-size: 1.2rem; 
    max-width: 80%; 
    text-align: center; 
}
#messageDisplay img {
	padding:10px;
}
/* Review Styles */
#reviews {

    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reviews h1 {
   text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
	padding:20px;
}

#review-form {
    max-width: 600px;
    margin: 0 auto;
    color: #060709;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#review-form h2 {
    text-align: center;
	font-size: 1em;
    margin-bottom: 20px;
}

#review-form .form-group {
    margin-bottom: 20px;
}

#review-form label {
    display: block;
    margin-bottom: 5px;
}

#review-form input[type="text"],
#review-form input[type="email"],
#review-form textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

#review-form button {
    background-color: #060709;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 20px 0; 
    width: 35%; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 40px auto 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#review-form button:hover {
    background-color: #ec8282;
}


/* Menu Styles */

#menu {
	background-color:#060709;
	color:#ec8282;
	margin: auto;
	width: 100%;
	height:100%;
	
	
}
#menu h1 {
	color: #060709;
	background-color:#ec8282;
	padding: 10px;
	font-size: 2em;
	line-height: 1.2;
}
#menu p {

	padding-left:10px;
	margin: 10px ;
	font-family: Arial, sans-serif;
	font-size: 20px;
    line-height: 1.6;
	text-align: center;
	font-weight: bold;
	background-color: #f3e5e1; 
    padding: 15px;
    border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#menu img {
    width: 80%; 
    display: block; 
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	padding:10px;
}
/* Gallery Styles */

.gallery {
	background-color:#fff;
	color:#060709;
	margin: auto;
	width:100%;
	height: 100%;
}
.gallery h1 {
	margin:20px;
	padding: 10px;
	font-size: 2em;
	line-height: 1.2;
}
.gallery img {
	width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
	display: block;
	margin: 0 auto;
}
.gallery button {
	border:none;
	background-color:#060709;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	transition: all 0.3s ease;
	margin:20px;
	border-radius: 5px;

} 
.gallery button:hover {
    color: #ec8282;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	 font-size: 24px;
	  transform: scale(1.1);
	  background-color: transparent;
}
.carousel {
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch; 
        }

        .slide {
            flex: 0 0 auto;
            scroll-snap-align: start;
        }

.carousel img {
    margin-right: 5px;
    padding: 0;
	 width: 200px; 
    height: 200px;
}





/*  Mobile style rules */
@media screen and (max-width: 767px) {
.tab-desk,  #menu-links{
        display: none;
    }
.menu-icon {
    display: block;
	position: fixed;
    cursor: pointer;
    margin-right: 10px; 
      
}


/* Add animation for hamburger menu */
.menu-icon.active .hamburger-bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.menu-icon.active .hamburger-bar:nth-child(2) {
    opacity: 0;
}
.menu-icon.active .hamburger-bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
    header h1 {
        font-size: 2rem;
    }

    #hero img {
        width: 100%;
        margin-right: 0;
    }

    #hero p {
        font-size: 1rem;
        width: 100%;
    }

    #hero button {
        width: 100%;
    }
.mobile-nav {
    display: flex;
    justify-content: center; 
    background-color: #060709; 
    padding: 15px 0; 
    width: 100%; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative; 
}

.mobile-nav .submenu a {
    color: #ec8282;
    font-size: 75%;
    text-align: left;
}

.mobile-nav ul {
    list-style: none;
    padding: 0; 
}

.mobile-nav li {
    margin: 0; 
}

.mobile-nav li a {
    color: #ec8282;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    padding: 10px; 
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    color: #060709;
    background-color: #ec8282;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px; 
}

.mobile-nav li a:hover {
    background-color: #060709;
    color: #ec8282;
    transform: scale(1.2);
}
.menu-icon div { 
	width: 30px; 
    height: 20px; 
    background-color: #ec8282; 
    margin: 6px auto; 
	padding: 2px;
    transition: all 0.5s ease; 
}

#hero,img, .falling,
    .falling2,
    .falling3 {
        display: none; 
        animation: none;
    }
#tab-desk-events	{
	display:none;
}
.footer {
    background-color: #ec8282;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.footer-social,
.footer-contact,
.footer-info {
    margin: 0;
}


.footer-info img {
	display:block;
	margin: 0 auto;
    width: 20%; 
	height: auto;
    max-width: 100%; 
	padding: 5px;
}

.footer-social {
     display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 10px; 
	padding: 10px;
}

.social-icon {
	display:flex;
    width: 20%; 
    height: auto;
    margin: auto ; 
}
#gallery {
	background-color:#f8f9fa;
	color:#ec8282;
	margin: auto;
	
}
#gallery {
    background-color: #f8f9fa;
    color: #ec8282;
    margin: auto;
    width: 100%;
    padding: 20px; 
}

#gallery h1 {
    color: #060709;
    background-color: #ec8282;
    padding: 10px;
    font-size: 2em;
    line-height: 1.2;
    text-align: center; 
}

#galleryphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

#galleryphotos img {
    display: flex;
	width: 100%; 
   padding: 10px;
    height: auto;
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-info {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #060709;
    margin: 20px 0;

}

.info-left, .info-right {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px; 
    border-radius: 10px; 
}

.social-icons {
    display: flex;
    justify-content: center; 
    gap: 20px; 
	padding:10px;
    margin-bottom: 20px; 
}

.social-icons img {
	display:flex;
    width: 20%; 
    height: auto;
}

#contact-background p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #060709;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#contact-background button {
    background-color: #060709;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 0;
    width: 80%; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto; 
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#contact-background button:hover {
    background-color: #ec8282;
}

#contact-background {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color:white;
    background-size: 40px 40px;
}
ul {
    list-style: none;
    padding-left: 0;
}

.fb-reviewsmobile {
	display: block;
	width: 80%;
	margin-left:30px;
	margin-bottom:30px;
	
}

.fb-reviewsdesk{
	display:none;
}

}

/* Desktop media query */
@media screen and (min-width: 1024px) {
	/* Navigation Styles */
.tab-desk {
    position: sticky;
    top: 0;
    background-color: #ec8282; 
    z-index: 1000; 
}
#mobile-events {
	display:none;
}
nav {
    background-color: #060709; 
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px; 
    padding: 5px; 
    width: 100%; 
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav li {
    list-style: none; 
}

nav li a {
    color: white; 
    text-decoration: none;
    padding: 0 30px;
}

nav li a:hover {
    background-color: #ec8282; 
    color: #060709; 
    transform: scale(1.2);
}
.mobile-nav {
    display: none; 
}

.tab-desk {
    display: block; 
}
.tab-desk ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab-desk ul li {
    display: inline-block;
    position: relative;
}

.tab-desk ul li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
	font-family: 'Montserrat', sans-serif;
    background-color: #fff;
   min-width: 225px; 
    min-height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.submenu li {
    display: block;
	
}

.submenu li a {
    padding: 10px;
    text-decoration: none;
    color: #060709;
}

.submenu li a:hover {
    background-color: #ec8282;
    color: #fff;
}
/* Event Table Styles */
.event {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

.event caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.event th,
.event td {
	font-size: 75%;
    border: 1px solid #ddd;
    padding: 5px; 
    text-align: left; 
    position: relative;
    width: 40px; 
    height: 40px; 
}

.event th {
    background-color: #f2f2f2;
}

.event tbody td {
    height: 100px;
}

.event td div {
    position: absolute;
    top: 5px; 
    left: 5px; 
    width: auto; 
    height: auto; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px; 
}
/*Contact Styles*/
.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
	font-size: 18px; 
    font-family: 'Arial', sans-serif; 
    color: #060709; 
    margin: 20px 0; 
}

.info-left,.info-right {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.social-icons {
    display: flex;
    gap: 50px;
}

.social-icons img {
    width: 30px; 
    height: auto; 
}
.social-icons a:hover img {
    transform: scale(1.5); 
}

.contact-info {
    background-color:#060709;
    background-size: 40px 40px;
    color: #060709; 
	font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
	font-weight: bold;
    padding: 20px; 
    border-radius: 10px; 
    
}

#contact-background p {
    font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
    color: #060709; 
	font-weight:bold;
	border-radius: 10px;
    padding: 10px; 
    margin: 20px; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

#contact-background button {
   background-color: #060709;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 0; 
    width: 32.5%; 
    text-align: center;
    text-decoration: none;
    display: block;
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	font-weight:bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	letter-spacing: 1px;
    margin: 40px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#contact-background button:hover {
    background-color: #ec8282;
}
#contact-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: white;
    background-size: 40px 40px;
}



#gallery {
	background-color:#f8f9fa;
	color:#ec8282;
	margin: auto;
	width: 100%;
	height:100%;
}
#gallery h1 {
	color: #060709;
	background-color:#ec8282;
	padding: 10px;
	font-size: 2em;
	line-height: 1.2;
}
#galleryphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galleryphotos img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.fb-reviewsdesk {
	display: block;
	width: 100%;
	margin-left: 30px;
	margin-bottom: 30px;
	
}
.fb-reviewsmobile{
	display:none;
}
/* Footer Styles */
.footer {
    background-color: #ec8282;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social {
    flex: 1;
    text-align: center;
}

.footer-social a {
    margin: 0 10px;
}
.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-contact {
    flex: 1;
    text-align: center;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-info {
    flex: 1;
    text-align: center;
}

.footer-info img {
    width: 60px;
    height: auto;
}

}